* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    background-color: #141414;
}

main {
    width: 400px;
    height: 650px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
   border-radius: 8px;
}


/* Person - Section*/
.person {
    text-align: center;
    margin-top: 50px;
}

.person h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.person h3 {
    font-size: 14px;
    color:hsl(75, 94%, 57%);
    margin-bottom: 25px;
}

p {
    color: #fff;
    margin-bottom: 26px;
}


img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
}


/* Card - Section */

.links {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    margin-bottom: 17px;
    background-color: #333333;
    border-radius: 7px;
}

.link a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}