* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

main {
    width: 400px;
    height: 700px;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    align-items: center;
    flex-direction: column;
   
}


/* Person - Section*/
.person {
    text-align: center;
    margin-top: 50px;
}

.person h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.person h3 {
    font-size: 14px;
    color:hsl(75, 94%, 57%);
    margin-bottom: 25px;
}

p {
    color: #fff;
    margin-bottom: 18px;
}


img {
    height: 80px;
    width: auto;
    border-radius: 50%;
    margin: 0 auto;
}


/* Card - Section */